name: Run benchmark tests

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  bench-tests:
    if: contains(github.event.pull_request.labels.*.name, 'run-benchmark-tests')
    name: Run benchmark tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5

      - name: Run benchmark tests
        run: make test-bench
